

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}

body{
	background-color: rgb(244, 239, 244)
}

/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

